
@{
    ViewData["Title"] = "Check email";

}


<div class="container">
    <br />
    <h4>We've sent an email to your email address provided. Please activate by clicking on the link we've sent you.</h4><br />
    <h4>Check your spam folder if you don't see the email witihin 10 minutes.</h4>

</div>