@model Course

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form asp-action="AddCourse" method="post" role="form">
                <div class="form-group">
                    <label asp-for="Name">Course name: </label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Course name" id="CourseName">
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfSpaces">Number of spaces: </label>
                    <input asp-for="NumberOfSpaces" type="text" class="form-control" id="NumberOfSpaces" placeholder="Number of spaces open in course">
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescritpion">Short description: </label>
                    <textarea asp-for="ShortDescritpion" type="text" class="form-control" id="ShortDescription" placeholder="Brief description of the course."></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="LongDescription">Long description: </label>
                    <textarea asp-for="LongDescription" rows="4" type="text" class="form-control" id="LongDescription" placeholder="Long description of the course."></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl">ImageUrl: </label>
                    <input asp-for="ImageUrl" type="text" class="form-control" id="ImageUrl" placeholder="Image Url">
                </div>
                <div class="form-group">
                    <label asp-for="ImageThumbnailUrl">Thumbnail Url: </label>
                    <input asp-for="ImageThumbnailUrl" type="text" class="form-control" id="ImageThumbnailUrl" placeholder="Image Thumbnail URL">
                </div>
                <div class="form-group">
                    <label asp-for="Grade">Required Grade: </label>
                    <input asp-for="Grade" type="text" class="form-control" id="Grade" placeholder="Minimum Grade required">
                </div>
                <button type="submit" class="btn btn-default">Add course</button>

                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>
